.box { 
  border: 1px solid black;
  width: 500px;  
  
}

.item-img {
  width: 300px;
}

.main {
  height: 700px;
  margin: 10px;
  
  /* background: purple; */

  /* 자식요소 가운데 정렬 */
  display: flex;
  justify-content: center;
}

.rps-button { 
  display: flex;
  justify-content: center;
}
