.box { 
  border: 1px solid black;
  width: 500px;  
  
}

.item-img {
  width: 300px;
}

.main {
  height: 700px;
  margin: 10px;
  
  /* background: purple; */

  /* �먯떇�붿냼 媛��대뜲 �뺣젹 */
  display: flex;
  justify-content: center;
}

.rps-button { 
  display: flex;
  justify-content: center;
}